BACKEND_API_URL=http://localhost:3000
BACKEND_MQTT_HOST=localhost
BACKEND_MQTT_PORT=1883
BACKEND_MQTT_USERNAME=
BACKEND_MQTT_PASSWORD=
BACKEND_REGISTER_TOKEN=

TENANT_CODE=tnr13
VESSEL_CODE=vsl-001
EDGE_CODE=pi4-001
ACTIVE_INTERFACE=eth0
PUBLIC_WAN_IP=
FIRMWARE_VERSION=pi4-uplink-1.0.0

HEARTBEAT_INTERVAL_SECONDS=30
TELEMETRY_INTERVAL_SECONDS=10
REGISTER_INTERVAL_SECONDS=300
PING_TARGET=1.1.1.1
PING_PACKETS=2
PING_TIMEOUT_SECONDS=2
