MK_IP=192.168.88.1
MK_USER=admin
MK_PASS=

WORK_SOURCE_ADDRESSES=192.168.88.10,192.168.88.11
ENTERTAINMENT_SOURCE_ADDRESSES=192.168.88.20,192.168.88.21

WORK_ADDRESS_LIST=mcu-work
ENTERTAINMENT_ADDRESS_LIST=mcu-entertainment

WORK_ROUTING_TABLE=to-vsat
ENTERTAINMENT_ROUTING_TABLE=to-starlink

VSAT_GATEWAY=10.10.10.1
STARLINK_GATEWAY=100.64.0.1
